<header>
<a class="logo-link" href="index.html">
    <img src="images/logo.svg" alt="Yawning Aardvark logo" class="site-logo">
  </a>
  
  <h1>Yamilet Altamirano's Yawning Aardvark - WEB115</h1>

<nav>
<a href="index.html">Home</a>
<a href="introduction.html">Introduction</a>
<a href="brand.html">Brand</a>
<a href="contract.html">Contract</a>
<a href="fizzbuzz0.html">FizzBuzz 0</a>
<a href="fizzbuzz1.html">FizzBuzz 1</a>
<a href="fizzbuzz2.html">FizzBuzz 2</a>
<a href="fizzbuzz3.html">FizzBuzz 3</a>
<a href="fizzbuzz4.html">FizzBuzz 4</a>
</nav>
</header>
